<h1>Editing Branch</h1>

<%= render 'form', branch: @branch %>

<p>
    <%= link_to '<button type="button" class="btn btn-primary">Show</button>'.html_safe, @branch %> 
    &nbsp;&nbsp;&nbsp; 
    <%= link_to '<button type="button" class="btn btn-primary">Back</button>'.html_safe, branches_path %>
</p>
