<h1>New Admin</h1>

<%= render 'form', admin: @admin %>

<p class="center_text">
    <%= link_to '<button type="button" class="btn btn-primary">Back to Previous Page</button>'.html_safe, admins_path %>
</p>
