<h1>New Bullentin</h1>

<%= render 'form', bullentin: @bullentin %>

<p>
    <%= link_to '<button type="button" class="btn btn-primary">Back to Previous Page</button>'.html_safe, bullentins_path %>
</p>
