<h3 style="text-align: center">Kiddoy is your smart learning place for your children</h3>
<div class="container-fluid">
   <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th></th>
        <th colspan="3"></th>
      </tr>
    </thead>
  
    <tbody>
        <tr>
          <td><%= image_tag ("school4.jpg") %></td>
          <td><%= image_tag ("school2.jpg") %></td>
          <td><%= image_tag ("school3.jpg") %></td>
        </tr>
    </tbody>
  </table> 
</div>
  